//--------------------------------------------------------------------------------------------------
//
//  トップページ
//
//--------------------------------------------------------------------------------------------------
.page-top{

    .top-mainVisual{
        @media screen and (min-width: $break-width-pc){
            margin: 20px 0;
        }

        @media screen and (max-width: $break-width-sp){
            margin-bottom: 10px;
        }
    }

        .top-mainVisual__img{

        }

    .top-bannerList{        
        @media screen and (min-width: $break-width-pc){
            margin: 0 auto 20px;
            padding-left: 23px;
            width: 743px;
        }

        @media screen and (max-width: $break-width-sp){
            text-align: center;
        }
    }

        .top-bannerList__inner{

            @media screen and (min-width: $break-width-pc){
                position: relative;
                float: left;
                margin-left: 30px;
                
                &:first-child{
                    margin-left: 0;
                }
            }

            @media screen and (max-width: $break-width-sp){
                text-align: center;
                margin-top: 10px;
                
                &:first-child{
                    margin-top: 0;
                }
            }
        }

            .top-bannerList__innerImg{
            }

            .top-bannerList__blog{

                @media screen and (min-width: $break-width-pc){
                    display: none;
                }
                
            }

            .top-bannerList__innerImg--twitter{
                position: relative;

                @media screen and (min-width: $break-width-pc){
                    left: -23px;
                    top: -13px;
                }

                @media screen and (max-width: $break-width-sp){
                    
                }
            }

            .top-bannerList__store{

                @media screen and (max-width: $break-width-sp){
                    display: inline-block;
                    margin-top: 0;
                }
                
            }

            .top-bannerList__twitter{

                @media screen and (max-width: $break-width-sp){
                    display: inline-block;
                    margin-top: 0;
                }
                
            }
    
}