//------------------------------------------------------------------------------------------------
//
//  SASS設定用
//
//------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------
//  Variables
//--------------------------------------------------------------------
$default-textSize: 12px;
$mike-red: #fe1a3a;

$default-linkColor: $mike-red;
$default-visitedColor: $mike-red;
$default-activeColor: $mike-red;

$wrapper-width: 800px;

$break-width-sp: 640px;
$break-width-pc: $break-width-sp + 1;