$_banner-mail: 548px 155px -548px -155px 220px 113px 952px 839px '../img/sprite.png';
$_banner-store: 618px 584px -618px -584px 220px 90px 952px 839px '../img/sprite.png';
$_banner-twitter: 0px 584px 0px -584px 243px 103px 952px 839px '../img/sprite.png';
$_icon-blog: 802px 441px -802px -441px 38px 58px 952px 839px '../img/sprite.png';
$_icon-blog_on: 601px 689px -601px -689px 45px 60px 952px 839px '../img/sprite.png';
$_icon-footprint: 909px 96px -909px -96px 20px 20px 952px 839px '../img/sprite.png';
$_icon-live: 0px 780px 0px -780px 46px 59px 952px 839px '../img/sprite.png';
$_icon-more-arrow: 882px 96px -882px -96px 25px 23px 952px 839px '../img/sprite.png';
$_icon-news: 391px 780px -391px -780px 56px 56px 952px 839px '../img/sprite.png';
$_icon-profile: 568px 780px -568px -780px 60px 54px 952px 839px '../img/sprite.png';
$_icon-title-blog: 166px 689px -166px -689px 44px 66px 952px 839px '../img/sprite.png';
$_icon-title-live: 111px 689px -111px -689px 53px 68px 952px 839px '../img/sprite.png';
$_icon-title-music: 212px 689px -212px -689px 71px 62px 952px 839px '../img/sprite.png';
$_icon-title-news: 630px 780px -630px -780px 82px 52px 952px 839px '../img/sprite.png';
$_icon-title-profile: 364px 689px -364px -689px 69px 61px 952px 839px '../img/sprite.png';
$_icon-title-twitter: 714px 780px -714px -780px 61px 47px 952px 839px '../img/sprite.png';
$_logo-main: 245px 584px -245px -584px 371px 103px 952px 839px '../img/sprite.png';
$_menu-blog: 731px 689px -731px -689px 81px 60px 952px 839px '../img/sprite.png';
$_menu-blog_on: 648px 689px -648px -689px 81px 60px 952px 839px '../img/sprite.png';
$_menu-live: 435px 689px -435px -689px 77px 61px 952px 839px '../img/sprite.png';
$_menu-live_on: 285px 689px -285px -689px 77px 61px 952px 839px '../img/sprite.png';
$_menu-music: 160px 780px -160px -780px 110px 57px 952px 839px '../img/sprite.png';
$_menu-music_on: 48px 780px -48px -780px 110px 57px 952px 839px '../img/sprite.png';
$_menu-news: 842px 48px -842px -48px 110px 46px 952px 839px '../img/sprite.png';
$_menu-news_on: 842px 0px -842px 0px 110px 46px 952px 839px '../img/sprite.png';
$_menu-profile: 449px 780px -449px -780px 117px 56px 952px 839px '../img/sprite.png';
$_menu-profile_on: 272px 780px -272px -780px 117px 56px 952px 839px '../img/sprite.png';
$_mobile_banner-blog: 0px 441px 0px -441px 620px 141px 952px 839px '../img/sprite.png';
$_mobile_banner-mail: 0px 298px 0px -298px 620px 141px 952px 839px '../img/sprite.png';
$_mobile_banner-store: 0px 155px 0px -155px 300px 141px 952px 839px '../img/sprite.png';
$_mobile_banner-twitter: 0px 0px 0px 0px 303px 153px 952px 839px '../img/sprite.png';
$_mobile_icon-footprint: 842px 96px -842px -96px 38px 38px 952px 839px '../img/sprite.png';
$_mobile_icon-title-blog: 732px 441px -732px -441px 68px 90px 952px 839px '../img/sprite.png';
$_mobile_icon-title-live: 770px 155px -770px -155px 67px 91px 952px 839px '../img/sprite.png';
$_mobile_icon-title-music: 712px 298px -712px -298px 104px 104px 952px 839px '../img/sprite.png';
$_mobile_icon-title-news: 514px 689px -514px -689px 85px 61px 952px 839px '../img/sprite.png';
$_mobile_icon-title-profile: 622px 441px -622px -441px 108px 102px 952px 839px '../img/sprite.png';
$_mobile_icon-title-twitter: 0px 689px 0px -689px 109px 89px 952px 839px '../img/sprite.png';
$_mobile_logo-main: 305px 0px -305px 0px 535px 148px 952px 839px '../img/sprite.png';
$_mobile_menu-live: 302px 155px -302px -155px 65px 120px 952px 839px '../img/sprite.png';
$_mobile_menu-music: 463px 155px -463px -155px 83px 115px 952px 839px '../img/sprite.png';
$_mobile_menu-news: 622px 298px -622px -298px 88px 107px 952px 839px '../img/sprite.png';
$_mobile_menu-profile: 369px 155px -369px -155px 92px 117px 952px 839px '../img/sprite.png';

// $list: <X> <Y> <Offset X> <Offset Y> <Width> <Height> <Total Width> <Total Height> <Image Path>

//------------------------------------------------------------------------------------------------
//
//  Mixin - Sprites
//
//------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------
//  Mixin - 背景を表示（widthとheightが指定され、ブロックサイズが変わるので注意）
//--------------------------------------------------------------------------------------
@mixin sprite-background($sprite, $hidpiFlag: false) {
    $imagePath: nth($sprite, 9);
    display: inline-block;
    background-image: url("#{$imagePath}");
    background-repeat: no-repeat;
    overflow: hidden;
    @if ($hidpiFlag == true){
        width: nth($sprite, 5) / 2;
        height: nth($sprite, 6) / 2;
        background-position: round( nth($sprite, 3) / 2 ) round( nth($sprite, 4) / 2 );
        background-size: round( nth($sprite, 7) / 2 ) round( nth($sprite, 8) / 2 );
    }@else{
        width: nth($sprite, 5);
        height: nth($sprite, 6);
        background-position: nth($sprite, 3) nth($sprite, 4);
    }
}


//--------------------------------------------------------------------------------------
//  Mixin - sprite-backgroundをafterに突っ込む（親要素は自身を包括ブロックにしておく必要あり）
//--------------------------------------------------------------------------------------
@mixin sprite-after($name, $left, $top){
    &:after{
        content: " ";
        position: absolute;
        display: block;
        top: $top;
        left: $left;
        @include sprite-background($name);
    }
}
