$_banner-mail: 548px 155px -548px -155px 220px 113px 999px 840px '../img/sprite.png';
$_banner-store: 618px 584px -618px -584px 220px 90px 999px 840px '../img/sprite.png';
$_banner-twitter: 0px 584px 0px -584px 243px 103px 999px 840px '../img/sprite.png';
$_icon-blog: 842px 62px -842px -62px 38px 58px 999px 840px '../img/sprite.png';
$_icon-blog_on: 842px 0px -842px 0px 45px 60px 999px 840px '../img/sprite.png';
$_icon-footprint: 956px 48px -956px -48px 20px 20px 999px 840px '../img/sprite.png';
$_icon-live: 0px 781px 0px -781px 46px 59px 999px 840px '../img/sprite.png';
$_icon-more-arrow: 929px 48px -929px -48px 25px 23px 999px 840px '../img/sprite.png';
$_icon-news: 391px 781px -391px -781px 56px 56px 999px 840px '../img/sprite.png';
$_icon-profile: 568px 781px -568px -781px 60px 54px 999px 840px '../img/sprite.png';
$_icon-title-blog: 0px 689px 0px -689px 68px 90px 999px 840px '../img/sprite.png';
$_icon-title-live: 732px 441px -732px -441px 67px 91px 999px 840px '../img/sprite.png';
$_icon-title-music: 251px 689px -251px -689px 71px 62px 999px 840px '../img/sprite.png';
$_icon-title-news: 630px 781px -630px -781px 82px 52px 999px 840px '../img/sprite.png';
$_icon-title-profile: 403px 689px -403px -689px 69px 61px 999px 840px '../img/sprite.png';
$_icon-title-twitter: 714px 781px -714px -781px 61px 47px 999px 840px '../img/sprite.png';
$_logo-main: 245px 584px -245px -584px 371px 103px 999px 840px '../img/sprite.png';
$_menu-blog: 723px 689px -723px -689px 81px 60px 999px 840px '../img/sprite.png';
$_menu-blog_on: 640px 689px -640px -689px 81px 60px 999px 840px '../img/sprite.png';
$_menu-live: 561px 689px -561px -689px 77px 61px 999px 840px '../img/sprite.png';
$_menu-live_on: 324px 689px -324px -689px 77px 61px 999px 840px '../img/sprite.png';
$_menu-music: 160px 781px -160px -781px 110px 57px 999px 840px '../img/sprite.png';
$_menu-music_on: 48px 781px -48px -781px 110px 57px 999px 840px '../img/sprite.png';
$_menu-news: 889px 0px -889px 0px 110px 46px 999px 840px '../img/sprite.png';
$_menu-news_on: 777px 781px -777px -781px 110px 46px 999px 840px '../img/sprite.png';
$_menu-profile: 449px 781px -449px -781px 117px 56px 999px 840px '../img/sprite.png';
$_menu-profile_on: 272px 781px -272px -781px 117px 56px 999px 840px '../img/sprite.png';
$_mobile_banner-blog: 0px 441px 0px -441px 620px 141px 999px 840px '../img/sprite.png';
$_mobile_banner-mail: 0px 298px 0px -298px 620px 141px 999px 840px '../img/sprite.png';
$_mobile_banner-store: 0px 155px 0px -155px 300px 141px 999px 840px '../img/sprite.png';
$_mobile_banner-twitter: 0px 0px 0px 0px 303px 153px 999px 840px '../img/sprite.png';
$_mobile_icon-footprint: 889px 48px -889px -48px 38px 38px 999px 840px '../img/sprite.png';
$_mobile_icon-title-blog: 70px 689px -70px -689px 68px 90px 999px 840px '../img/sprite.png';
$_mobile_icon-title-live: 770px 155px -770px -155px 67px 91px 999px 840px '../img/sprite.png';
$_mobile_icon-title-music: 712px 298px -712px -298px 104px 104px 999px 840px '../img/sprite.png';
$_mobile_icon-title-news: 474px 689px -474px -689px 85px 61px 999px 840px '../img/sprite.png';
$_mobile_icon-title-profile: 622px 441px -622px -441px 108px 102px 999px 840px '../img/sprite.png';
$_mobile_icon-title-twitter: 140px 689px -140px -689px 109px 89px 999px 840px '../img/sprite.png';
$_mobile_logo-main: 305px 0px -305px 0px 535px 148px 999px 840px '../img/sprite.png';
$_mobile_menu-live: 302px 155px -302px -155px 65px 120px 999px 840px '../img/sprite.png';
$_mobile_menu-music: 463px 155px -463px -155px 83px 115px 999px 840px '../img/sprite.png';
$_mobile_menu-news: 622px 298px -622px -298px 88px 107px 999px 840px '../img/sprite.png';
$_mobile_menu-profile: 369px 155px -369px -155px 92px 117px 999px 840px '../img/sprite.png';

// $list: <X> <Y> <Offset X> <Offset Y> <Width> <Height> <Total Width> <Total Height> <Image Path>

//------------------------------------------------------------------------------------------------
//
//  Mixin - Sprites
//
//------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------------------------
//  Mixin - 背景を表示（widthとheightが指定され、ブロックサイズが変わるので注意）
//--------------------------------------------------------------------------------------
@mixin sprite-background($sprite, $hidpiFlag: false) {
    $imagePath: nth($sprite, 9);
    display: inline-block;
    background-image: url("#{$imagePath}");
    background-repeat: no-repeat;
    overflow: hidden;
    @if ($hidpiFlag == true){
        width: nth($sprite, 5) / 2;
        height: nth($sprite, 6) / 2;
        background-position: round( nth($sprite, 3) / 2 ) round( nth($sprite, 4) / 2 );
        background-size: round( nth($sprite, 7) / 2 ) round( nth($sprite, 8) / 2 );
    }@else{
        width: nth($sprite, 5);
        height: nth($sprite, 6);
        background-position: nth($sprite, 3) nth($sprite, 4);
    }
}


//--------------------------------------------------------------------------------------
//  Mixin - sprite-backgroundをafterに突っ込む（親要素は自身を包括ブロックにしておく必要あり）
//--------------------------------------------------------------------------------------
@mixin sprite-after($name, $left, $top){
    &:after{
        content: " ";
        position: absolute;
        display: block;
        top: $top;
        left: $left;
        @include sprite-background($name);
    }
}
