//------------------------------------------------------------------------------------------------
//
//  メニュー用
//
//------------------------------------------------------------------------------------------------

//--------------------------------------------------------------------
//  .sidebar-bannerList
//--------------------------------------------------------------------
.sidebar-bannerList{

    @media screen and (max-width: $break-width-sp){
        margin: 0 -5px;
    }

}

    .sidebar-bannerList__inner{
        margin-top: 10px;

        &:first-child{
        	margin-top: 0;
        }

        a:hover{
            @include opacity(1);
        }
    }

    .sidebar-bannerList__inner--blog{

        @media screen and (min-width: $break-width-pc){
            display: none;
        }

    }

    .sidebar-bannerList__inner--twitter{
    	@media screen and (min-width: $break-width-pc){
        	margin-left: -23px;
    	}

        @media screen and (max-width: $break-width-sp){
            display: inline-block;
            margin-top: 0;
        }
    }

    .sidebar-bannerList__inner--store{

        @media screen and (max-width: $break-width-sp){
            display: inline-block;
            margin-top: 0;
        }

    }