//--------------------------------------------------------------------------------------------------
//
//  コンテンツを入れる箱系
//
//--------------------------------------------------------------------------------------------------
//----------------------------------------------------------------------------------------
//
//  .bl-mainVisual
//
//----------------------------------------------------------------------------------------
.bl-mainVisual{
    @media screen and (min-width: $break-width-pc){
        margin: 20px 0;
    }

    @media screen and (max-width: $break-width-sp){
        margin-bottom: 10px;
    }
}

    .bl-mainVisual__img{

    }

//----------------------------------------------------------------------------------------
//
//  .reactionBox
//
//----------------------------------------------------------------------------------------
.reactionBox{
	margin-top: 30px;
}